
bin
lib
obj
/GraphicsMagick.NET.AnyCPU/Resources/ReleaseQ8/*
/GraphicsMagick.NET.AnyCPU/Resources/ReleaseQ16/*
/GraphicsMagick/Source/GraphicsMagick
/ipch
/Publish/NuGet/ApiKey.txt
/Publish/NuGet/*.nupkg
/Publish/Zip
/TestResults
*.opensdf
*.sdf
*.suo
