
/GraphicsMagick.NET/bin
/GraphicsMagick.NET/lib
/GraphicsMagick.NET.net20/bin
/GraphicsMagick.NET.net20/lib
/GraphicsMagick.NET.AnyCPU/bin
/GraphicsMagick.NET.AnyCPU/lib
/GraphicsMagick.NET.AnyCPU/Generated/*
/GraphicsMagick.NET.AnyCPU/Resources/ReleaseQ8/*
/GraphicsMagick.NET.AnyCPU/Resources/ReleaseQ16/*
/GraphicsMagick.NET.AnyCPU/Resources/xml/*
/GraphicsMagick.NET.Tests/bin
/GraphicsMagick.NET.Tests/obj
/GraphicsMagick.NET.Web/bin
/GraphicsMagick.NET.Web/obj
/GraphicsMagick/Source/GraphicsMagick
/ipch
/Publish/Archive
/Publish/NuGet/*.nupkg
/Publish/Zip
/TestResults
*.opensdf
*.sdf
*.suo
